.tag {
    margin-right: 7px;
    border: none;
    background-color: #f6f5f4;
    color: #2d576b;

    :global(.el-tag__close) {
      display: none;
    }

    &:hover {
      :global(.el-tag__close) {
        display: inline-block;
      }
    }
  }