/node_modules
/dist
/.vscode
/coverage
.DS_Store

src/assets/style/theme-default
src/assets/style/theme-default/*
src/assets/style/element/*
!src/assets/style/element/index.css
!src/assets/style/element/fonts

package-lock.json
yarn.lock
yarn-error.log
stats.json

.env
.envrc
src/assets/.DS_Store
src/assets/icons/.DS_Store
src/container/BaseDetail.js.orig