@import "./default/variables";
@import "./default/reset";
@import "./text/font-family";
@import "./utilities/margin";
@import "./utilities/padding";
@import "./utilities/position";
@import "./utilities/flex";
@import "./utilities/float";
@import "./utilities/color";
@import "./utilities/font";
@import "./utilities/text";
@import "./utilities/hint";
@import "./lib/index";
@import "./layout/grid";
@import "./components/container";
@import "./components/nav";
@import "./components/form";
@import "./components/button";
@import "./components/card";
@import "./components/table";
@import "./components/modal";
@import "./components/field";
@import "./components/panel";
@import "./components/spinner";
@import "./components/chart";
@import "./components/grid";
@import "./components/page";
@import "./components/dot";
@import "./components/dropdown";
@import "./text/text";
@import "./passdisplay/stylepass";
@import "./passdisplay/fake-bootstrap";
@import "./components/pagination";

@import "~tse-ui-lib/bundle.css";

/** 
 * Element UI Library
 */
@import "~@/assets/style/element/index.css";
/** 
 * Global Override Element UI Library
 */
.el-button-group .el-button:not(:last-child) {
  margin-right: 1px;
}

.el-form-item__label,
.el-dialog__header {
  text-transform: uppercase;
}

.el-button {
  font-family: inherit;
}

/** 
 * Utils
 */
.click {
  cursor: pointer;
}

.click--ed {
  color: $vin-green;
}

html * {
  box-sizing: border-box;
}

td {
  padding: 12px;
}

h2 {
  color: $vin-blue;
}

.savings {
  color: $vin-green;
}

.loss {
  color: $vin-red;
}

input.small {
  width: 46px;
}

td.fuel-savings-label {
  width: 175px;
}

.Row {
  color: $row-color;
}

.Nav {
  display: inline-block;
}

.Nav--user {
  display: inline-block;
  margin-left: 2 * $base-spacing;
}
