@import "~@/assets/style/default/variables";
.list-horizontal {
  background: $white;

  > div {
    display: inline-flex;
    justify-content: space-between;
  }
  white-space: nowrap;
}

.item {
  width: auto;
  line-height: 40px;
  color: $vin-blue;
  font-family: inherit;

  &:last-child {
    border-right: none;
  }

  .boxed-title {
    padding-bottom: 2px;
  }
}
