.button-group {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.body-content {
  font-size: 16px;
}

:global([class^="remove-param-verify-comp__button-group"]) {
  :global(.el-button--danger) {
    background-color: #ee5151 !important;
    font-family: inherit;
  }
}
