@import "../../assets/style/default/variables";

.cover {
  width: 100%;
}

:global([class^="select-option-comp__cover"] .el-select) {
  width: 100% !important;
}

:global([class^="select-option-comp__cover"]) {
  :global(.el-select-dropdown__item) {
    font-family: inherit;
    font-size: 15px;
    color: $dark-blue;
  }
  :global(.el-input__inner) {
    color: $warm-gray;
    border: 1px solid $input-border-color;
    text-transform: capitalize;
  }
  :global(.el-select-dropdown__item):not(:last-of-type) {
    border-bottom: 1px solid #d1dee5;
  }
  :global(.el-select-dropdown__list) {
    padding: 6px 20px;
  }
  :global(.el-select-dropdown__item) {
    padding: 8px 0px;
    text-transform: capitalize;
    &:hover {
      color: $vin-orange;
    }
  }
  :global(.el-select-dropdown__item.selected.hover) {
    color: $vin-orange;
    background-color: #fff;
    &:hover {
      background-color: #fff;
    }
  }
  :global(.el-select-dropdown__item) {
    &:hover {
      background-color: #fff;
    }
  }
  :global(.el-select-dropdown__item.selected) {
    color: $vin-orange;
    background-color: #fff;
    &:hover {
      background-color: #e4eaf1;
    }
  }
}

.label {
  line-height: 1em;
  text-transform: uppercase;
}

// some adjust field
.label--adjust {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  font-size: 12px;
  color: $vin-blue;
  align-items: center;
}
